<style type="text/css">
.nobull {
	list-style-type: none;
	margin-top: auto;
	margin-bottom: auto;
}
</style>

{{ if .IsNamedParams }}
<div class="info-div" style="text-indent:25px">
	<span class="info-info">🎓  {{ .Get "degree" }}</span>
	<span class="info-info">({{ .Get "time" }})</span>
	<br>
	<small>
		<ul class="nobull">
			<li>{{- i18n "institution" -}}: 
				<a target="_blank" href={{ .Get "INSurl" | safeURL }} title={{ .Get "institution" }}>
					<span class="info-info">{{ .Get "institution" }}</span>
				</a>
			</li>
			<li>{{- i18n "advisor" -}}: 
				<a target="_blank" href={{ .Get "PROFurl" | safeURL }} title={{ .Get "advisor" }} >
					<span class="info-info">{{ .Get "advisor" }}</span>
				</a>
			</li>
		</ul>
	</small>
</div>
{{ end }}

