[submodule "themes/cklau-hugo-theme"]
	path = themes/cklau-hugo-theme
	url = https://github.com/TerenceLiu98/cklau-hugo-theme.git
[submodule "themes/hugo-simplecite"]
	path = themes/hugo-simplecite
	url = https://github.com/joksas/hugo-simplecite.git
