[submodule "themes/hugo-cite"]
	path = themes/hugo-cite
	url = https://github.com/loup-brun/hugo-cite.git
[submodule "cklau-theme"]
	path = cklau-theme
	url = git@github.com:TerenceLiu98/cklau-theme.git
[submodule "themes/cklau-theme"]
	path = themes/cklau-theme
	url = git@github.com:TerenceLiu98/cklau-theme.git
