{{ define "main" }}
<a href="{{ `` | absURL }}"><h1 class="absolute inset-x-8 top-0 bottom-0 flex items-center justify-center text-9xl">404</h1></a>
<br>
<h2>Tencent Cloud Referral</h2>
<ul>
    <li><a href="https://url.cn/qzCt1FvL">腾讯云 - 多款云产品1折起，买云服务器送免费机器，最长免费续3个月</a></li>
    <li><a href="https://url.cn/qkQMptd7">腾讯云 - 爆款云服务器限时体验20元起，更多上云必备产品低至1元</a></li>
</ul>
<h2>Aliyun Referral</h2>
<ul>
    <li><a href="https://www.aliyun.com/activity?userCode=fcsv0yty">阿里云最全的优惠活动聚集地</a></li>
    <li><a href="https://www.aliyun.com/daily-act/ecs/activity_selection?userCode=fcsv0yty">阿里云 - 云服务器新人特惠</a></li>
</ul>  
<h2>QiNiu Referral</h2>
<ul>
    <li><a href="https://s.qiniu.com/2ErIbq">新人免费试用 - 多款云产品长期免费使用，注册即享超值赠送</a></li>
    <li><a href="https://s.qiniu.com/Y777Fj">新人免费云主机 - 注册免费领取 4核8G 云服务器，享免费数据迁移服务</a></li>
</ul>  
<h2>Vultr Referral</h2>
<ul>
    <li><a href="https://www.vultr.com/?ref=8191196">You can use my referral code to sign-up Vultr</a></li>
    <li><a href="https://www.vultr.com/?ref=9205933-8H">Give $100, Get <b>extra </b> $35 </a></li>
</ul>
{{ end }}
