.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

/* katex */ 
.katex {
    font-size: 1.0em;
    text-indent: 0;
    text-rendering: auto;
    font-family: $font-family;
}